body
{
	background-color:white;
}

@font-face
{
font-family:HeaderText;
src: url('/pages/fonts/headfont.otf');	
}

.btn
{
	position:absolute;
	
	margin:10 10;
	background:#245eac;
	height:40;
	top:60;
	width:15%;
	min-width:180;
	box-shadow: 0 0 10px #5d5d5d;
	max-width:200;
}
.mainImg
{
	position:absolute;
	width:40%; height:100%;
	clip-path: polygon(10% 0, 100% 0%, 90% 100%, 0% 100%);
}
.featur_bg
{
	position:relative;
	background:black;
	opacity:0.4;
	clip-path: polygon(10% 0, 100% 0%, 90% 100%, 0% 100%);
}
.featur_text
{
	position:absolute; 
	margin:10 5;
	font-size:25;
	font-family:HeaderText;
	visibility:hidden;
	white-space: nowrap; 
	text-align:center;
	
	color:white;
}
.bob_img
{
	 position:absolute; margin:50% 50%; left:-35; top:-50; width:70; transform:rotate(145deg); height:100;
}
.bob_bg
{
	display:inline-block; position:relative; border:5px solid black; margin:10 10; width:120; height:120;
}

#button_home::after
{
	content:"головна";
}
#button_news::after
{
	content:"новини";
}
#button_members::after
{
	content:"учасники";
}

#button_myCab::after
{
	content:"мій кабінет";
}

#shapka_fon
{
	position:absolute;
	background:#2d73d2;
	left:0;
	right:0;
	top:20;
	height:50px;
	min-width:900;
	box-shadow: 0 0 10px;
}

.head
{
	position:inherit;
	margin:0 20;
	font-size:40;
	font-family:HeaderText;
	padding:auto;
	Color:white;
}

.main
{
	position:relative;
	background:white;
	box-shadow: 0 0 10px;
	width:75%;
	height:300;
	min-width:300px;
}

.btn_text
{
	-webkit-user-select:none;
	margin:0 0;
	font-size:30;
	min-width: 100;
	font-family:HeaderText;
	Color:white;
}
.small_btn_text
{
	-webkit-user-select:none;
	margin:0 20;
	position:absolute;
	font-size:25;
	font-family:HeaderText;
	Color:white;
}

.zagolovok
{
	margin:10 5;
	font-size:25;
	font-family:HeaderText;
	Color:white;
}


.text_S
{
	margin:0 5;
	font-size:15;
	font-family:HeaderText;
	Color:Black;
}
#deleteBtn
{
	width:30; height:30; position:absolute; right:0; top:0; background:#0f2848; margin:2 2;
}
.memberBlock
{
	width:90%;
	min-width: 800;
	height:100;
	position:relative;
	background: #f0f0f0;
	margin:auto auto;
	box-shadow: 0 0 10px #a1a1a1;
}
.logout_text
{
	display:none;
	visibility:visible; 
	font-family:HeaderText; 
	text-align:center; 
	color: white; 
	opacity:1;  
	width:100%; 
	height:20;
	position:absolute;
	margin:auto auto;
}
.menu_element
{
	position:absolute; margin:40 0;
	visibility:hidden; width:100%;
	height:20; background:#4172b1;
	opacity:1;
	box-shadow:0 0 10px #727272;
}
@keyframes color_anim 
{
    from { background-color:#245eac; }
    to { background-color: #183d6e; }
}
@keyframes color_anim_2 
{
    from { background-color:#0f2848; }
    to { background-color: #911111; }
}
@keyframes poyava_anim
{
    from { opacity:0 }
    to { opacity:1 }
}

#deleteBtn:hover
{
	cursor:pointer;
	animation-fill-mode: forwards;
	animation-name:color_anim_2;
	animation-duration:2s;
}

.btn:hover, .btnS:hover
{
	cursor:pointer;
	background-color:#245eac;
	animation-fill-mode: forwards;
	animation-name:color_anim;
	animation-duration:2s;
}

.rideImg
{
	width:100%; left:0;
	position: absolute; 
	height:450;
}